<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Carros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let carro of listaCarros">

    <ion-item button (click)="abreDetalhe(carro)">
      <ion-avatar slot="start">
        <img src="{{carro.imagens.length ? carro.imagens[0].url : imagemPadrao }}">
      </ion-avatar>
      <ion-label>
        <h2>{{carro.titulo}} - {{carro.marca.titulo}}</h2>
        <p>{{carro.descricao}}</p>
        <p>R${{carro.valor_format}}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
