<ion-header>
  <ion-toolbar>
    <ion-title>Detalhe</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-slides pager [hidden]="!carro.imagens.length">

    <ion-slide style="background-color: white" *ngFor="let imagem of carro.imagens">
      <img src="{{imagem.url}}"/>
    </ion-slide>

  </ion-slides>
  <div [hidden]="!carro.imagens.length" align="center">
    <button ion-button color="light" (click)="anteriorSlide()">Anterior</button>
    <button ion-button color="light" (click)="proximoSlide()">Próximo</button>
  </div>
  <img [hidden]="carro.imagens.length" src="{{imagemPadrao}}"/>
  <ion-card>    
        <ion-card-header>          
          <ion-card-title>{{carro.titulo}} - {{carro.marca.titulo}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{carro.descricao}}</p>
          <p>{{carro.ano}}</p>
          <p>{{carro.valor_format}}</p> 
        </ion-card-content>
  </ion-card>

</ion-content>
